body {
	background-color: black; 
}

h1 {
	font-family: 'Unica One';
	color: white;
	text-align: center;
	font-size: 8em;
	padding-top: 150px;
}

h2 {
	color: white;
}
#intro {
	height: 80vh;
}

#nav {
	height: 20vh;
	background-color: black;
	display: flex;
}

#schachbrett {
	background-color: red;
	width: 500px;
	height: 500px;

}

#create_button {
	background-color: orange;
	width: 150px;
	height: 60px;
	border: 4px solid pink;

}

/* Regis Area */

#creatorBox {
	display: flex;
	
}

#createButton { 
	background-color: black;
	width: 150px;
	height: 150px;
	min-width: 150px;
	min-height: 150px;



	border: 4px solid white;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	line-height: 150px;  

 }

 h2 {
	font-family: 'Unica One';
	color: white;
	text-align: center;
	font-size: 4em;
	padding-top: 150px;
}

 h3 {
	font-family: 'Unica One';
	color: white;
	text-align: center;
	font-size: 2em;

}


#createButton {
	margin: auto;
}


#schachbrett {

}

#boxleft {
	margin: auto;
	height: 100%;
	width: 33.3%;
}

#boxright {
	margin: auto;
	height: 100%;
	width: 66.6%;
}
/* Lauras Area */

#left {
	width: 70vw;
	display: flex;

}

#right {
	width: 30vw;
	display: flex;
	
}

#right div {
	margin-top: auto;
	margin-bottom: auto;
}

p {
	color: white;
	text-decoration: none;
	font-family: 'Barlow Condensed';
}

a {
	display: flex;
}

img {
	display: flex;
}
