body {
	background-color: black; 
	margin: 0px; 
}

#clickToGenerate
{
	height: 130px;
}

#intro-towercreator {
	height: 80vh;
}

/*  --NAVIGATION--  */

#nav {
	height: 20vh;
	background-color: black;
	display: flex;
}

#nav-left {
	width: 70vw;
	display: flex;
}

#nav-right {
	width: 30vw;
	display: flex;
}

#nav-right div {
	margin-top: auto;
	margin-bottom: auto;
}


/*  --BUTTON--  */

#creatorBox {
	display: flex;
	/*display: inline-block;*/
	width: 100vw;
}

#createButton { 
	background-color: black;
	width: 150px;
	height: 150px;
	min-width: 150px;
	min-height: 150px;
	margin-bottom: 50px;


	border: 4px solid white;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	line-height: 150px;
	display: inline-block;
 }


/*  --GENERALS--  */

 h1 {
	font-family: 'Unica One';
	color: white;
	text-align: center;
	font-size: 8em;
	padding-top: 150px;
}

 h2 {
	font-family: 'Unica One';
	color: white;
	text-align: center;
	font-size: 3em;
	/*
	padding-top: 30px;
	padding-bottom: 30px;
	*/
}

 h3 {
	font-family: 'Unica One';
	color: white;
	text-align: center;
	font-size: 2em;
}

p {
	color: white;
	text-decoration: none;
	font-family: 'Barlow Semi Condensed';
}

a {
	display: flex;
}

img {
	display: flex;
}


/*  --FORMENCREATOR--  */

#boxleft {
	height: 100%;
	width: 30vw;
	margin: auto;
	/*margin: auto;*/
	/*width: 30%;
	display: inline-block;
	*/
}

#boxright {
	height: 100%;
	width: 70vw;
	padding-left: 50px;
	/*margin: auto;*/
	/*width: 70%;
	display: inline-block;*/
}

canvas {
	background-color: #EEE;
}

#example-form {
	border: 4px solid white;
	width: 150px;
	height: 150px;
	display: block;
}

#Koordinaten
{
	color: white;
}

#boxleft > div
{
	margin-left: 150px;
}

#schachbrett
{
}